.wrap {
  height: 100vh;
  background-color: #0c0c0c;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text::after {
  content: "|";
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
.typed-cursor {
  opacity: 0;
  display: none;
}
.banner {
  width: 100%;
  position: relative;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  height: 280px;
  width: 100vw;
}
.content_wrapper {
  width: 1200px;
}
.type__wrap {
  margin-bottom: 87px;
}

.box {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.wrap {
  position: relative;
  z-index: 2;
}
.works__wrapper {
  position: relative;
  z-index: 0;
  top: -1080px;
}
.hide {
  transform: translateX(-100%);
  transition-duration: 0.7s;
  transition-timing-function: linear;
}
.show {
  top: -100%;
  height: 100vh;
}
@keyframes anim {
  100% {
    width: 0%;
  }
}
.content {
  top: 40%;
  position: fixed;
  z-index: 5;
  color: white;
  overflow: hidden;
  padding-left: 20%;
}
.text {
  color: #fff;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 106px;
}
.animated {
  animation: anim 0.7s forwards;
  animation-timing-function: linear;
}
